
#root{
    width: 800px;
    
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
#root:hover{
    cursor: pointer;
}
div{
    margin:  20px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: rgb(87, 130, 47);
    /*
    background: url('https://docs.gimp.org/2.8/en/images/using/preparing_for_web1.png');
    */
}
 img{
    opacity: 0;
    border-radius: 50%;
width: 200px;
height: 200px;
}